* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: "Source Serif Pro";
  font-size: 62.5%;
}

body {
  color: #a54328;
  font-size: 1.6rem;
}

button {
  font-family: "Source Serif 4";
  background-color: #a54328;

  color: white;

  border: 0;
  padding: 0.8rem 1.2rem;

  border-radius: 0.6rem;

  margin-top: 1.8rem;
}

h1,
h2 {
  font-size: 2.8rem;
  line-height: 3.6rem;
}

h2 {
  text-decoration: underline;
}

p,
li,
strong {
  font-size: 1.4rem;
  line-height: 1.8rem;
}
